<!DOCTYPE html>

<html>

<head>

  <title>Login Form</title>

  <link rel="stylesheet" href="/css/idk.css">

</head>

<body>

  <form method="POST" action="/users/login">


<center>
    <h2>Login Here</h2>

    <input name="username" type="text" class="form-control" placeholder="username" required>

    <input name="password" type="password" class="form-control" placeholder="010610" required>

    <%- recaptcha %>

    <button type="submit">Login</button>

  </form>

</center>
</body>

</html>
